.split {
    padding: 10px;
    font-size: 12px;
}

.split, .gutter.gutter-horizontal {
    float: left;
}

.gutter.gutter-horizontal {
    cursor: ew-resize;
    height: 80vh;
    background-color: #ddd;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: small;
    border-top: 1px solid lightgray;
}
